* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  max-width: 80vw;
  margin: 0 auto;
}

header > .logo {
  float: left;
  margin: 1.2rem;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  font-family: sans-serif;
  background: -webkit-linear-gradient(rgb(234, 4, 4), rgb(233, 233, 12));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header > nav {
  float: right;
}

.clear {
  clear: both;
}

header > nav > ul > li {
  float: left;
  padding-right: 1rem;
  font-size: 1.25rem;
  margin-top: 1.875rem;
  font-family: sans-serif;
}

header > nav > ul {
  list-style: none;
}

header > nav > ul > li > a {
  text-decoration: none;
  color: rgb(45, 45, 244);
}

main > .hero {
  background-image: linear-gradient(rgb(51 40 21), transparent),
    url("background.jpg");

  height: 80vh;
  /* width: 100vw; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
h1 {
  font-size: 2.5rem;
  font-family: cursive;
  padding-top: 3.75rem;
  text-align: center;
  color: rgba(196, 191, 191, 0.999);
}
main p {
  padding-top: 30px;
  line-height: 23px;
  font-size: 17px;
  font-family: sans-serif;
  padding-left: 400px;
  text-align: center;
  width: 70%;
  color: rgba(196, 191, 191, 0.999);
}
button {
  padding: 1rem 2rem;
  background-color: rgb(255, 72, 0);
  border-radius: 1rem;
  font-size: 16px;
  cursor: pointer;
  margin-left: 670px;
  margin-top: 50px;
}

button:hover {
  background-color: rgb(251, 124, 74);
}

h2 {
  font-size: 2.5rem;
  font-family: cursive;
  padding-top: 2.5rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.999);
}

form input,
form label,
form textarea {
  display: block;
  margin: 0 auto;
  width: 40vw;
  margin: 1rem auto 1rem;

  padding: 8px;
  border-radius: 5px;
}

main > .contact-form > form > button {
  margin-left: 33rem;
  width: 30vw;
}
footer {
  margin-top: 8rem;
  padding: 1.5rem;
  background-color: gray;
  color: #eaeaea;
  text-align: center;
  text-transform: lowercase;
  font-size: 18px;
}
